@using E_Ticaret.Models.Entities
@model User

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <h1 class="page-header">Profil Düzenleme</h1>
    <div class="col-md-6 col-sm-8 col-lg-4">
        @if (ViewBag.ResultMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ResultMessage
            </div>
        }    
        
        @if (ViewBag.ResultSuccessMessage != null)
        {
            <div class="alert alert-success">
                @ViewBag.ResultSuccessMessage
            </div>
        }  
              
        <form action="@Url.Action("Create", "Profil")" method="post">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, "Ad")
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, "Soyad")
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>          
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, "Doğum Tarihi")
                @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.BirthDate)
            </div>                                       
            <div class="form-group">
                @Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-default" })
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-sm-4 col-lg-8">
       @if (Session["LogInId"] != null)
       {
        @Html.Partial("_PartialAddress")
       }      
    </div>
</div>

